.f1{
    display: flex;
    justify-content: space-between;
}
.f2{
    display: flex;
    justify-content: space-between;    
}
.container1{
    margin: 50px;
    border: 2.5px;
    border-radius: 12px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}