.cart {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    width: 1000px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}

.cartItem img {
    width: 250px;
    padding-left: 20px;


}

.cartItem .description {
    width: 100%;
    font-size: 20px;
    text-align: center;


}

.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}