.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.products {
    width: 100%;
    max-width: 1200px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the container */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    /* Adjust the gap between items */
    justify-items: center;
}

.product {
    border-radius: 10px;
    /* Smaller border-radius */
    width: 100%;
    max-width: 200px;
    /* Adjust the maximum width as needed */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* Adjust the padding as needed */
    box-sizing: border-box;
    /* Include padding in the width */
    transition: 0.3s ease-in;
    cursor: pointer;

}

.product img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.product .description {
    text-align: center;
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}